table {
    border-collapse: collapse;
}
td {
    margin:0;
    padding:0;
}
#im1 {
    border-right: 5px solid gray;
}
#im3 {
    border-left: 5px solid gray;
}
#im4 {
    border-right: 5px solid gray;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
}
#im5 {
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
}
#im6 {
    border-left: 5px solid gray;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
}
#im7 {
    border-right: 5px solid gray;
}
#im9 {
    border-left: 5px solid gray;
}